.full-page{
    height: 100vh;
    width:100vw;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midnight-blue{
    background-color: #2c3e50;
}

.teal{
    background-color: #008080;
}

.coral{
    background-color: #ff7f50;
}

.lavendar{
    background-color: #e6e6fa;
}

.slate-gray{
    background-color: #708090;

}

.switcher{
    height: 40px;
    
    display: flex;
    justify-content: space-evenly;
}

.color-button{
padding: 10px 20px;
font-size:16px;
font-weight: 600;
color: #fff;
background-color: #6200ea;
border:none;
outline:none;
border-radius: 30px;
margin-inline: 12px;
cursor: pointer;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
transition: all 0.3s ease;

}

.color-button:hover{
    background-color: #3700b3;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);

}

.color-button:active {
    background-color: #1a00a0; /* Even darker on click */
    transform: translateY(1px); /* Slight press-down effect */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Shadow reduction on press */
}

.color-button:focus {
    background-color: #695da1; /* Even darker on click */
    /* Slight press-down effect */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Shadow reduction on press */
}


