


.card{
    width: 300px;
    box-shadow: 0 1px 6px rgb(0,0,0,0.3);
    text-align: center;
    position: relative;

}
.cover-pic{
    height:300px;
    display: block;
    width: 100%;
}

.profile-pic{
    width: 130px;
    height: 130px;
    border-radius: 65px;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    margin-bottom:0;
}

.personal-data{
    font-family: Arial, Helvetica, sans-serif;
}

.count{
    font-size: 30px;
    font-weight: bold;
}

.metadata{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #ccc;
}

.name{
    font-size:25px;
    font-weight: 700px;;
}

.age{
    color: gray;
}

.city{
    font-size:20px;
    color: gray;
}

.count-type{
    font-weight: 700;
    color:gray
}

